[Unit]
Description=GPU manager (through acpi calls)

[Service]
Type=oneshot
ExecStart=/usr/bin/sh /usr/share/acpi_call/examples/turn_off_gpu.sh
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
